
/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:rgb(250, 243, 250);
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  margin: auto;
}

h1{
    font-family: 'Lato', sans-serif;
    color: rgb(18, 98, 156);
    text-align: center;
    letter-spacing: 1px;
    font-size: 60px;
}

/* AREAS OF THE PAGE */

.acontainer {
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: center;
    gap: 25px 25px;
    margin-top: 25px;
    border-style: solid;
    border-color: rgb(219, 188, 188);
    padding: 25px;
    border-radius: 35px;
  }
  
  /* Buttons inspired by Nia Thomas*/

  .navbuttons {
    display:flex;
    justify-content:center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    }

    .button{
        align-content: center;
        flex-flow: center;
        border-radius: 4px;
        background-color: #5ad5fe;
        border: 2px solid #ffffff;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 240px;
        cursor: pointer;
        margin: 5px;
        transition: color 1s;
        font-family: 'Poppins', sans-serif ;
        }
        
        .button1{
          align-content: center;
          flex-flow: center;
          border-radius: 4px;
          background-color: #5ad5fe;
          border: 2px solid #ffffff;
          color: #ffffff;
          text-align: center;
          font-size: 28px;
          padding: 20px;
          width: 20%;
          cursor: pointer;
          margin: 5px;
          transition: color 1s;
          font-family: 'Poppins', sans-serif;
          }
        
          .button2{
            align-content: center;
            flex-flow: center;
            border-radius: 4px;
            background-color: #5ad5fe;
            border: 2px solid #ffffff;
            color: #ffffff;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 25%;
            cursor: pointer;
            margin: 5px;
            transition: color 1s;
            font-family: 'Poppins', sans-serif;
            }
        
        .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        }
        
        .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        
        }
        .button:hover span {
        padding-right: 25px;
        }
        
        .button:hover span:after {
        opacity: 1;
        right: 0;
        }
        
        