/*import fonts*/

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/*headers*/

h1 {
	color: rgba(73, 87, 235, 0.829);
  border-color: white;
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 0px;	
	text-align: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif ;
}

/*subtitles*/

h2 {
	color: rgb(59, 60, 61);
	font-size: 15px;
    font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;	
	text-align: center;
	font-family: 'Poppins', sans-serif ;
}

/*heading of project*/ 

h3{
    color:rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif ;
    font-size: 27px;
    text-align: center;
 }

 /*Chart headings*/

 h4{
    color:rgb(73, 87, 235, 0.829);
    font-family: 'Poppins', sans-serif ;
    font-size: 17px;
    text-align: center;
  }

  /*footnotes*/

  h5{
    color:rgb(59, 60, 61);
    font-family: 'Poppins', sans-serif ;
    font-size: 10px;
    text-align: center;
  }

  body{
    background-color:white;
    max-width: 90%;
    margin: auto;
 }
 

p{
  color: rgb(59, 60, 61);
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: normal;
  font-family: 'Poppins', sans-serif ;
  margin-bottom: 10px;
  clear: left;
  width: 100%;
}


  /*Body*/ 

  .chartCSS {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 30px;
    border: 1.5px solid rgb(0, 64, 128);
    margin-top: 30px;
    border-style: solid;
    border-color:rgb(0, 64, 128);
    padding: 30px;
    border-radius: 25px;
  }
  
/*week5 CSS*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center !important;
  vertical-align: bottom;
  text-align: center !important;
  align-content: center;
  margin:auto;
  max-width: 1200px;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  font-size: xx-small;
  letter-spacing: 0.1px;
}

.grid-item {
  background-color: white;
  padding: 10px;
  text-align: center; 
  border-width: .2em;
  height: 200x;
  width: 200px;
  display: inline-block !important;
  min-width: 280px;
  font-size: 10px;
  margin: 0 auto;
  padding-bottom: 75px;
}

